:root {
	--color-red: #7b0404;
	--color-red-dark: hsl(0, 94%, 20%);
	--color-bg: #e5decd;
	--color-base-rgb: 255, 255, 255;
	--color-base-alpha: 1.0;
	--color-base: rgb(var(--color-base-rgb), var(--color-base-alpha));
	--inner-gap: 0.8rem;
	--color-shadow: #000;
	--flow-space: 1rem;
}

.color-red {
	color: var(--color-red);
}

.color-red-dark {
	color: var(--color-red-dark);
}

.color-base {
	color: var(--color-base);
}

.bg-primary {
	background: var(--color-bg);
}

.bg-red {
	background: var(--color-red);
}

.bg-red-dark {
	background: var(--color-red-dark);
}

.centered-text {
	text-align: center;
}

.block-padding-200 {
	padding-block: 0.6rem;
}

.block-padding-300 {
	padding-block: 0.8rem;
}

.block-padding-400 {
	padding-block: 1rem;
}

.inline-padding-800 {
	padding-inline: 2rem;
}

.gap-top-300 {
	margin-top: 0.8rem
}

.max-height-800 {
	max-height: 8rem;
	overflow-y: auto;
}

.display-none {
	display: none;
}

.font-size-200 {
	font-size: 1rem;
}

.font-size-300 {
	font-size: 1.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
button {
	font-family: 'Medula One', cursive;
	font-size: 2rem;
	color: var(--color-base);

	padding: 0;
}

button {
	border: none;
}

main {
	width: 90vw;
	min-width: 300px;
}

ul[class],
ol[class] {
	margin: 0;
	padding: 0;
}

.flow>*+* {
	margin-top: var(--flow-space);
}

.wrapper {
	margin-inline: auto;
	padding: 1rem;
	max-width: 60rem;
}

.centered {
	display: block;
	margin-inline: auto;
}

.flex {
	display: flex;
}

.flex-center-vert {
	align-items: center;
}

.flex-center-hor {
	justify-content: center;
}

.spread {
	display: flex;
	justify-content: space-between;
	column-gap: var(--inner-gap);

	>* {
		flex: 1 1 100%;
	}
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-start {
	align-items: flex-start;
}

@media screen and (max-width: 650px) {
	.spread.modifiers {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		gap: var(--inner-gap);
	}
}

@media screen and (max-width: 425px) {
	.spread.difficulty {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		row-gap: var(--inner-gap);

		> :first-child {
			grid-column: 1 / 3;
		}
	}
}

.full-width {
	width: 100%;
}

.shadow {
	box-shadow: 5px 5px var(--color-shadow);
}

.header-img {
	max-width: 100%;
}

.help {
	position: relative;

	button {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 20%;
		background: rgba(#000, 0.55);

		&:first-of-type {
			left: 0;
		}

		&:last-of-type {
			right: 0;
		}

		&[data-state='greyed-out'] {
			--color-base-alpha: 0.6;
			color: #{'rgb(var(--color-base-rgb), var(--color-base-alpha))'};
		}
	}
}

.record {
	list-style-type: none;

	&:first-child {
		flex-basis: 50%;
	}
}

.round-linejoin {
	stroke-linejoin: round;
}

.bevel-linejoin {
	stroke-linejoin: bevel;
}

.round-linecap {
	stroke-linecap: round;
}

.fill-red-dark {
	fill: var(--color-red-dark);
}

.fill-red {
	fill: var(--color-red);
}

.fill-black {
	fill: black;
}

.fill-base {
	fill: var(--color-base);
}

.fill-current {
	fill: currentColor;
}

.fill-none {
	fill: none;
}

.stroke-red-dark {
	stroke: var(--color-red-dark);
}

.stroke-red {
	stroke: var(--color-red);
}

.stroke-black {
	stroke: black;
}

.stroke-base {
	stroke: var(--color-base);
}

.stroke-current {
	stroke: currentColor;
}

.opacity-40 {
	opacity: 0.4;
}

.d10 {
	width: 4em;

	&[data-is-highest='true'] {
		transform-origin: center;
		transform: scale(1.2);
	}

	.outline {
		stroke-width: 2px;
	}

	.die-value {
		font-size: 40px;
		line-height: 1.25;
		font-family: 'Pirata One';
		text-anchor: middle;
		stroke-width: 1.6;
		paint-order: markers stroke fill;

		&[data-is-10='true'] {
			font-size: 34.5px;
		}
	}

}