$clr-primary: hsl(0, 94%, 20%);
$clr-secondary: #7b0404;
$clr-tertiary: white;
$clr-bg: #e5decd;

* {
	font-family: 'Medula One', cursive;
	color: $clr-tertiary;

	box-sizing: border-box;
}

body {
	background-color: $clr-bg;

	display: flex;

	justify-content: center;
}

main {
	max-width: 1250px;

	width: 90vw;

	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;

	flex-direction: column;

	align-items: stretch;
	justify-content: center;

	row-gap: 1.5em;
}

.button-row {
	$active-shadow: 5px 5px black;

	min-width: 800px;
	min-height: 4em;
	display: flex;

	flex-direction: row;

	justify-content: space-between;

	column-gap: 1em;

	&__button {

		appearance: none;
		margin: 0;
		padding: 0;
		border: none;

		padding: 1em 2em;

		flex: 1 1 100%;

		display: flex;

		align-items: center;
		justify-content: center;

		background-color: $clr-secondary;

		cursor: pointer;

		&--active,
		&[open] {
			background-color: $clr-primary;

			box-shadow: $active-shadow;

			.button-row__assist-button {
				&--dec {
					color: $clr-tertiary;
				}
			}
		}

		&--assistance {
			position: relative;
		}

		&:focus,
		&:focus-within,
		&:hover {
			outline: none;
			box-shadow: 0 0 0 5px black;
		}

		&--banner {

			height: 8em;

			&:focus,
			&:focus-within,
			&:hover {
				outline: none;
				box-shadow: none;
			}

			&.button-row__button--active {

				&:focus,
				&:focus-within,
				&:hover {
					outline: none;
					box-shadow: $active-shadow;
				}
			}
		}
	}

	&__assist-button {
		position: absolute;

		top: 0;
		bottom: 0;

		width: 0.85em;

		appearance: none;
		border: none;
		margin: 0;
		padding: 0;

		background-color: rgba(black, 0.35);

		font-size: 2rem;

		&--dec {
			left: 0;
			color: rgba(white, 0.5);
		}

		&--inc {
			right: 0;
		}

		&:focus,
		&:hover {
			outline: 5px solid black;
		}
	}

	&__radio,
	&__checkbox {
		position: absolute;
		visibility: hidden;
	}

	&__label {
		font-size: 3rem;

		cursor: pointer;
	}

	&__roll-button {
		appearance: none;
		border: none;
	}

	&__summary {
		outline: none;

		margin: auto 0;

		&::-webkit-details-marker {
			display: none;
		}
	}


	&--result {
		position: relative;

		cursor: default;

		.button-row__label {

			font-size: 6rem;
			font-family: 'Pirata One', cursive;

			cursor: default;
		}

		&--blurb {
			.button-row__label {
				font-size: 4rem;
			}

		}
	}

}

.text-effect__shine {
	$duration: 5s;

	background-size: 300% 200%;
	background-position: 100% 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	&--crit-succ {
		background-color: white;
		background-image: linear-gradient(120deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 1) 30%,
				rgba(255, 255, 224, 1) 45%,
				rgba(254, 255, 169, 1) 50%,
				rgba(255, 255, 224, 1) 55%,
				rgba(255, 255, 255, 1) 70%,
				rgba(255, 255, 255, 1) 100%);
	}

	&--crit-fail {
		$duration: 3s;

		background-image: linear-gradient(100deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 1) 49%,
				rgba(123, 4, 4, 1) 49.8%,
				rgba(123, 4, 4, 1) 50%,
				rgba(123, 4, 4, 1) 50.2%,
				rgba(255, 255, 255, 1) 51%,
				rgba(255, 255, 255, 1) 100%);
	}

	animation: text-shine $duration ease infinite;
}


.svg__crit-succ-text {
	font-size: 6rem;
}

@keyframes text-shine {

	60%,
	100% {
		background-position: 0% 0%;
	}
}


.history {
	$clr-chart: rgba(white, 1);

	margin-top: 1em;

	display: flex;
	align-items: start;

	column-gap: 1em;

	&__chart {
		width: 100%;
	}

	&__record {
		margin: 0;

		width: 50%;

		font-size: 2rem;

		max-height: 10em;
		overflow-y: auto;
	}

	&__label {
		fill: $clr-chart;
	}

	&__delim {
		stroke: $clr-chart;
	}

	&__bar {
		fill: $clr-bg;
	}

	&__percentage-tag {
		fill: $clr-chart;
	}
}

.action {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.d10 {
	position: relative;

	width: 10em;
	height: 10em;

	overflow: hidden;

	&__img {
		position: absolute;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		z-index: -1000;

		background-color: $clr-primary;

		mask-image: url("assets/svgs/d10_with_numbers.svg#d10");
		mask-size: contain;
		mask-repeat: no-repeat;
	}

	@for $i from 1 through 10 {
		&--#{$i} {
			.d10__img {
				mask-image: url("assets/svgs/d10_with_numbers.svg#d10--#{$i}");
			}
		}
	}


	&--difficult {
		.d10__img {
			background-color: darkslategray;
		}
	}

	&--subtracted {

		.d10__highlight::before,
		.d10__highlight::after {
			content: '';
			position: absolute;

			top: 45%;
			bottom: 45%;
			left: -1em;
			right: -1em;

			background-color: rgba(black, 0.7);
		}

		.d10__highlight::before {
			transform-origin: center;

			transform: rotate(45deg);
		}

		.d10__highlight::after {
			transform-origin: center;

			transform: rotate(-45deg);
		}
	}

	&--highlit {
		$clr-highlight: gold;

		.d10__img {
			&::after {
				animation: die-shine 4s ease-in-out infinite;
				animation-fill-mode: forwards;
				content: '';
				position: absolute;
				z-index: 100;
				top: -110%;
				left: -210%;
				width: 200%;
				height: 200%;
				opacity: 0;
				transform: rotate(30deg);

				background: linear-gradient(to right,
						rgba($clr-highlight, 0) 0%,
						rgba($clr-highlight, 0) 40%,
						rgba($clr-highlight, 0.3) 60%,
						rgba($clr-highlight, 0.6) 90%,
						rgba($clr-highlight, 0) 100%);
			}
		}
	}

}

.rd10 {
	&__label {
		font-family: 'Pirata One', cursive;
		font-size: 1.5rem;

		// dominant-baseline: middle;
		text-align: center;
	}
}

@keyframes die-shine {
	30% {
		opacity: 1;
		top: -10%;
		left: -10%;
		transition-property: left, top, opacity;
		transition-duration: 1.5s, 1.5s, 0.5s;
		transition-timing-function: ease;
	}

	100% {
		opacity: 0;
		top: -10%;
		left: -10%;
		transition-property: left, top, opacity;
	}
}

@media screen and (max-width: 900px) {
	main {
		margin-top: 1em;
	}

	.d10 {
		width: 9em;
		height: 9em;
	}

	.button-row {
		min-width: 550px;

		&--modifiers {
			display: grid;

			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;

			row-gap: 1em;
			height: auto;
		}

		&--result {
			.button-row__label {
				font-size: 4rem;
			}

			&--blurb .button-row__label {
				font-size: 2.8rem;
			}
		}

		&__button {
			&--banner {
				height: 6em;
			}
		}

	}

	.history {
		flex-direction: column;
		row-gap: 1em;

		&__record {
			order: 2;

			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	.d10 {
		width: 7em;
		height: 7em;
	}

	.button-row {
		min-width: 200px;

		&__button {
			padding: 0.5em 1em;
		}

		&__label {
			font-size: 2rem;
		}

		&--difficulty {
			display: grid;

			grid-template-areas:
				"std std"
				"rsk dng";
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;

			flex-direction: column;

			row-gap: 1em;
			height: auto;

			.button-row__button {
				&--standard {
					grid-area: std;
				}

				&--risky {
					grid-area: rsk;
				}

				&--dangerous {
					grid-area: dng;
				}
			}
		}

		&--result {
			.button-row__label {
				font-size: 2.4rem;
			}

			&--blurb .button-row__label {
				font-size: 1.5rem;
			}
		}

		&__button {
			&--banner {
				height: 3.5em;
			}
		}
	}
}

@media screen and (max-height: 570px) {
	main {
		margin-top: 2em;
		row-gap: 1em;
	}

	.button-row {
		row-gap: 0.5em;
	}

	.d10 {
		width: 5em;
		height: 5em;
	}

	.button-row {
		&--banner {
			height: 2rem;

			.button-row__label {
				font-size: 2rem;
			}
		}

		&--result {
			.button-row__label {
				font-size: 3rem;
			}

			&--blurb .button-row__label {
				font-size: 3rem;
			}
		}
	}
}